
.navbar{
 background-image: url(https://i.pinimg.com/originals/61/9c/39/619c39799816bfeb2d99365b16bffea5.png);
 display:flex;
 flex-direction:row;
 justify-content: center;
 align-items: center;
 justify-content: space-around;
 width: 100%;
margin-bottom: 20px;
}
.link {
  color: aliceblue;
  font-size: 20px;
  font-family:cursive;
}
.li{
  text-decoration: none;
}

.link:hover {
  color: rgb(189, 24, 106);
}