.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: cursive;
    font-size: 17px;
}
.tituloTipo{
    margin:auto
}
.inputTipos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:space-around;
    margin: 15px;
}
.itipos{
    margin:10px
}
.cardlist{
    display: inline-flex;
}
.cardTipos{
    margin:auto;
    overflow-x: scroll;
    width: 900px;
    margin-bottom: 15px;
}


